<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Help Desk</title>

        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <header>
            <h1>Help Desk System</h1>
        </header>
        <main>
            {% block main %}
            <article>
                <h1>404 Not Found</h1>
            </article>
            {% endblock %}
        </main>
        <footer>
            Copyright &copy; State-Owned Budgetary Health Institution “City Clinic Hospital No 4”<br/>
            This software is <a href="https://github.com/new-brand-clinic-technologies/my-helpdesk" target="_blank"><img alt="Open Source" src="/static/os.png" style="max-height: 1.2rem; vertical-align: bottom;" /></a>
        </footer>
    </body>
</html>
