{% extends "base.html" %}
{% block main %}
<article>
    <h1>Ask your question</h1>
    <form action="" method="POST">
        <textarea name="question"></textarea>
        <button>Ask</button>
    </form>
</article>
<article>
    <h1>Login</h1>
    <h2>for staff only</h2>
    <form action="/login" method="POST">
        {% for msg in get_flashed_messages() %}
        <p style="color: red">{{msg}}</div>
        {% endfor %}
        <input type="text" name="login" placeholder="Login" />
        <input type="password" name="password" placeholder="Password" />
        <button>Login</button>
    </form>
</article>
{% endblock %}
