{% extends "base.html" %}
{% block main %}
<article style="width: 80vw; max-width: 1000px; box-sizing: border-box;">
<h1>Ticket {{ ticket.id }}</h1>
<p>by <strong>{{ticket.author}}</strong><br/>
created <strong>{{ ticket.created }}</strong></p>
<p>{{ ticket.request }}</p>
{% if ticket.opened %}
<h2>Response here:</h2>
<form method="post" action="">
    <textarea name="response" required></textarea>
    <button>Send</button>
</form>
{% else %}
<h2>Response</h2>
<p>{{ ticket.response }}</p>
<p>Ticket is closed.</p>
{% endif %}
</article>
{% endblock %}
